@font-face {
    font-family: pro;
    src: url(ProFontIIxNerdFont-Regular.ttf);
}
@font-face {
    font-family: terminess;
    src: url(TerminessNerdFont-Regular.ttf);
}
body {
    min-height: 100vh;
    display: flex;
    margin: 0;
}
* {
    color-scheme: dark;
    font-family: pro;
    background-color: #000;
    color: #0f0;
}
.flex-col {
    display: flex;
    flex-direction: column;
}
.flex-row {
    display: flex;
    flex-direction: row;
}
.menu-link {
    text-decoration: none;
    padding: .5vmin;
    font-size: 2vmin;
    border-radius: .5vmin;
    margin: .5vmin;
}
.menu-link:hover {
    color: #000;
    background-color: #0f0;
}
h1 {
    font-family: terminess;
}
.flex-col-top {
    flex-direction: column;
}
.flex-col-bot {
    flex-direction: column-reverse;
}
.flex-grow {
    flex-grow: 1;
}
.icon {
    display: inline-flex;
    align-self: center;
}
.icon svg, .icon img {
    height: 1em;
    width: 1em;
    fill: currentColor;
}
.icon.baseline svg, .icon img {
    top: 0;
    position: relative;
    padding-right: .2em;
}
.footer-link {
    font-family: terminess;
    text-decoration: none;
    padding-right: 1vmin;
}
#main-content {
    border: 2px solid #0f0;
    border-left: none;
    border-right: none;
}
h2 {
    font-family: terminess;
}
h1, h2 {
    margin: 1vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}
p {
    font-family: terminess;
}
.project-container {
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}