{% extends "template.html" %}
{% block title %}TheTridentGuy - Blog{% endblock %}
{% block main %}
    <h2>Hiiiii, welcome to my blog</h2>
    <div class="main-container flex-row">
        <div class="flex-col flex-grow">
            <p>
                This is just my little yap corner of the internet. I probably won't post articles that often, 
                and writing isn't my strong suit, but I'll do my best. Hope you enjoy reading my ramblings and
                if you have any comments, feel free to email me at <a href="mailto:aiden.bohlander@gmail.com">aiden.bohlander@gmail.com</a>.
            </p>
        </div>
        <div class="flex-col" id="blog-sidebar">
            <span>Popular Articles:</span>
        </div>
    </div>
{% endblock %}