{% extends "template.html" %} {% block title %} TheTridentGuy - Card {% endblock
%} {% block main %}
<div class="flex-col flex-grow">
  <div class="flex-col flex-grow"></div>
  <div class="flex-row">
    <div class="flex-col flex-grow"></div>
    <div id="card" class="flex-col">
      <div class="flex-row">
        <img class="pfp" src="/static/pfp.png" alt="pfp" />
        <div class="flex-col flex-grow">
          <h2>TheTridentGuy</h2>
          <div class="flex-row prn-bar">
            <span>Aiden Bohlander</span>
          </div>
          <div class="flex-row prn-bar">
            <span class="right-bar">he/him/kitty</span>
            <span>AY-den</span>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-col flex-grow"></div>
  </div>
  <div class="flex-col flex-grow"></div>
</div>
{% endblock %}
