{% extends "template.html" %}
{% block title %} TheTridentGuy - Contact {% endblock %}
{% block main %}
    <h2>Contact/socials:</h2>
    <div class="flex-col main-container">
        <ul>
            <li href="mailto:aiden.bohlander@gmail.com">Email: aiden.bohlander@gmail.com</li>
            <li><a href="https://github.com/TheTridentGuy">GitHub: TheTridentGuy</a></li>
            <li>Hack Club Slack: @TheTridentGuy</li>
            <li>Discord: @thetridentguy</li>
            <li><a href="https://www.qrz.com/db/KO6ENZ">Amateur radio: KO6ENZ</a></li>
            <li><a href="https://open.spotify.com/user/31x35qvo6acfc46mmry227vf23pm">Spotify: trid3nt</a></li>
            <li><a href="bsky.app/profile/thetridentguy.bsky.social">Bluesky: thetridentguy (not really active)</a></li>
            <li>Signal: thetridentguy.776</ul>
        </ul>
    </div>
    <h2>Support me:</h2>
    <ul>
        <li>XMR: 468FicsEKJVDgsoDwnWX9xD9pmdMEz549Br6WXHFLtWg4gLUUemccRMa5stCMDxxK5es86EAKgZnL5cTmiCsvi1b1Wk67CT</li>
    </ul>
{% endblock %}