{% extends "template.html" %}
{% block title %}TheTridentGuy - Files{% endblock %}
{% block main %}
    <div id="main-content" class="flex-grow">
        <h2><a href="/public/files">Public Files</a></h2>
        <div class="main-container">
            <p>
                Collection of random files, mostly memes.
            </p>
        </div>
        <h2><a href="/private/files">Private Files</a></h2>
        <div class="main-container">
            <p>
                Coming soon
            </p>
        </div>
    </div>
{% endblock %}