{% extends "template.html" %}
{% block title %}TheTridentGuy - My fursona{% endblock %}
{% block main %}
    <div class="main-container">
        <div class="flex-row">
            <div class="flex-col flex-grow">
                <h2>My <a href="https://furscience.com/whats-a-furry">fursona</a>:</h2>
                <table>
                    <p>
                        My fursona is a not yet fully defined anthropomorphic
                        mostly black, with white accents/markings cat. He is quite
                        extroverted, and prone to giving hugs. His hobbies include programming,
                        playing with hardware, and genereally messing around. 
                        He's be more than happy to rp, or play a <a href="/gaming">game</a> with you :3 <i>mreowwwwwwwwwwwwwwwww...</i>
                    </p>
                    <span>tl;dr</span>
                    <!--
                    If you came this far just to find my birthday, kindly remember to send me a card :3
                    you can find my address in the FCC ULS
                    -->
                    <tr><td>Name</td><td>Aiden, aka trident cat or smth, not too picky</td></tr>
                    <tr><td>Pronouns</td><td>he/him</td></tr>
                    <tr><td>Age</td><td data-date="2008-06-03"></td></tr>
                    <tr><td>Sexuality</td><td>heterosexual</td></tr>
                    <tr><td>Species</td><td>Anthro Feline</td></tr>
                    <tr><td>Appearance</td><td>Not yet fully defined, black and white anthropomorphic cat</td></tr>
                    <tr><td>Likes</td><td>Programming, making things, down for casual rp.</td></tr>
                    <tr><td>Dislikes</td><td>Most presidents these days, healthcare CEOs, proprietary software, anyone who doesn't respect privacy.</td></tr>
                    <tr><td>Art guidelines</td><td>Feel free to be creative, <span onclick="document.body.classList.toggle('femboy')">gender-swapped clothes</span> is fine, but keep the body male. Pls no NSFW, I am a minor.</td></tr>
                    <!-- Yep, that's me -->
                </table>
            </div>
            <div class="flex-col" id="fur-sidebar">
                <h3>Art Gallery:</h3>
                <p>
                    Currently too broke to afford commisions, but if you make something
                    out of the kindness of your own heart, I'll happily post it here!
                </p>
            </div>
        </div>
    </div>
{% endblock %}