{% extends "template.html" %} {% block title %}TheTridentGuy - Gaming{% endblock
%} {% block main %}
<h2>Gaming:</h2>
<div class="flex-col">
  <div class="main-container">
    <a href="https://www.callofduty.com/mobile">Call of Duty: Mobile</a>
    <p>
      The funny thing about me is I legitimately suck on PC, but I'm kinda
      cracked on mobile. Ranked Legendary, peak top 5k. Tag: trid3ntYT
    </p>
  </div>
  <div class="main-container">
    <a href="https://playvalorant.com">Valorant</a>
    <p>Yeah, I suck on PC. Ranked Bronze 1. Tag trid3nt#trid3.</p>
  </div>
</div>
{% endblock %}
