{% extends "template.html" %}
{% block title %} TheTridentGuy {% endblock %}
{% block main %}
    <div class="flex-row">
        <div id="bio" class="flex-grow">   
            <h2>👋 Hi, I'm Aiden</h2>
            <div id="prn-bar" class="flex-row">
                <span class="right-bar">he/him/kitty</span>
                <span>AY-den</span>
            </div>
            <!--
            If you came this far just to find my birthday, kindly remember to send me a card :3
            you can find my address in the FCC ULS
            -->
            <p>
                I'm a <span data-date="2008-06-03"></span>-year-old full stack developer, linux enthusiast, sysadmin, and <a href="/fursona">furry</a> based in San Francisco, California, USA. 
                I am also a member of the wonderful community known as <a href="https://hackclub.com">Hack Club</a>, 
                an amazing home for teen nerds like me.
                As far as programming I'm mostly self-taught, through reading and Stack Overflow. My current favorite stack is a Flask backend, with
                a vanilla HTML, CSS and JS frontend. I currently attend Lowell High School, and am a member 
                of their robotics team <a href="https://team4159.org">4159 CardinalBotics</a>. I got my amateur radio license
                in summer 2024, and enjoy operating whenever I'm out about. I've always loved to read, and even though
                I don't have much time anymore, it's still one of my passions. My favorite series is the OG Percy Jackson books, by Rick Riordan,
                which incidentally is also the source of the username many of you know me by. In second place is the Spy School
                by Stuart Gibbs, tied with the Alex Rider series by Anthony Horowitz. My preffered music genre is elctronic, especially
                EDM, and I'm a huge fan of Alan Walker, K-391, cyberhound and ivycomb. When I need a break from coding,
                I play a lot of <a href="/gaming">Call of Duty: Mobile, and Valorant</a>. Feel free to DM me on the HC slack, or discord :3
            </p>
            <div class="flex-col">
                <span><a href="https://adventofcode.com/">Advent of Code 2024</a> is live! See my solutions <a href="https://thetridentguy.github.io/AoCGallery2024">here</a>.</span>
                <br>
                <span>My opinions on your favorite languages and distros:</span>
                <br>
                <div class="flex-row">
                    <table>
                        <tr><td>S</td><td>Python, C, C++</td></tr>
                        <tr><td>A</td><td>HTML, CSS, JS, Bash</td></tr>
                        <tr><td>B</td><td>Rust</td></tr>
                        <tr><td>C</td><td></td></tr>
                        <tr><td>F</td><td>Java, Scratch</td></tr>
                    </table>
                    <table>
                        <tr><td>S</td><td>MacOS, Arch Linux, Android</td></tr>
                        <tr><td>A</td><td>Debian, iOS</td></tr>
                        <tr><td>B</td><td>Windows</td></tr>
                        <tr><td>C</td><td></td></tr>
                        <tr><td>F</td><td>Barked Android</td></tr>
                    </table>
                </div>
            </div>
        </div>
        <div id="bio-sidebar">
            <h3>Books you should read:</h3>
            <ul>
                <li><a href="https://rickriordan.com/series/percy-jackson-and-the-olympians/">Percy Jackson series by Rick Riordan</a></li>
                <li><a href="https://anthonyhorowitz.com/books/list/series/alex-rider">Alex Rider series by Anthony Horowitz</a></li>
                <li><a href="https://stuartgibbs.com/books-2/">Spy School series by Stuart Gibbs</a></li>
            </ul>
            <h3>Songs you should Listen to:</h3>
            <ul>
                <li class="no-bullet"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6gK4IlqSgthseiS61CnPif?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
                <li class="no-bullet"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0nrWZWkJM62ftQJSI8fDc0?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
                <li class="no-bullet"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0BxhpnfBTbnDfXi7mK4B6B?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
                <li class="no-bullet"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5tEeiYkDyA3Z5h9rbrl4fT?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
                <li class="no-bullet"><iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/7p1MBFFf6XTYJGh5elBNhM?utm_source=generator&theme=0" width="100%" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe></li>
            </ul>
        </div>
    </div>
{% endblock %}