<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheTridentGuy</title>  
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="flex-col">    
        <h1>> TheTridentGuy</h1>
        <div class="flex-row">
            <a href="projects" class="menu-link">Projects</a>
            <a href="projects" class="menu-link">Projects</a>
            <a href="projects" class="menu-link">Projects</a>
            <a href="projects" class="menu-link">Projects</a>
            <a href="projects" class="menu-link">Projects</a>
            <a href="projects" class="menu-link">Projects</a>
        </div>
    </div>
</body>
</html>