{% extends "template.html" %}
{% block title %} TheTridentGuy - Jumpscare {% endblock %}
{% block main %}
    <div class="flex-col flex-grow"></div>
    <div class="flex-row">
        <div class="flex-col flex-grow"></div>
        <div id="jumpscare"></div>
        <div class="flex-col flex-grow"></div>
    </div>
    <div class="flex-col flex-grow"></div>
    <p>
        ^ This obviously isn't my art, it's all sourced from <a href="https://nekosapi.com/">NekosApi.com</a>. I'm not responsible for what comes out of their api.
        If you really liked a photo, theres a localStorage cookie with the URLs of all the images you've seen. You can find it in your browser's devtools.
    </p>
{% endblock %}